'.source.swift':
  'editor':
    'commentStart': '// '
    'foldEndPattern': '^\\s*\\}|^\\s*\\]|^\\s*\\)'
    'increaseIndentPattern': '(?x)
        ^ [^\\}\\)]* \\{ [^}"\']* \\s* $
      | ^ [^\\}\\)]* [\\{\\(] .* \\{ [^\\}"\']* \\s* $
      | ^ [^\\}\\)]* \\( [^)"\']* \\s* $
      | ^ [^\\}\\)]* [\\{\\(] .* \\( [^\\)"\']* \\s* $
      | ^\\s*case[\\s\\S]*:
      | ^\\s*default:
      | ^ \\s* if \\s* \\( (?!.*?(\\b(else)\\b|;\\s*$))
      | ^ \\s* \\}? \\s* else \\s* (?!.*?;\\s*$)
      | ^ \\s* (for|while) \\s* \\( (?!.*?;\\s*$)
      | ^ \\s* (do|repeat) \\s* $
      '
    'decreaseIndentPattern': '(?x)
        ^ \\s* [\\}\\)]
      | ^ \\s* [^\\x20\\/\\{\\(]    [^\\{\\(]*     [\\}\\)] \\s* $
      | ^ \\s* case[\\s\\S]*:
      | ^ \\s* default:
      '
